*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #111;
    height: 100vh;
    text-align: center;
}
.success, 
.failure{
    width: 360px;
    height: 640px;
    border-radius: 10px;
    padding: 1rem;
}
.success{
    background: linear-gradient(0deg, #0080F9, #00C0EB);
}
.failure{
    background: linear-gradient(0deg, #FF2800, #FF7000);
}
.box{
    height: 526px;
    width: 315px;
    color: #fff;
}
.box span{
    display: block;
    margin: 3rem auto 4.5rem;
    width: 270px;
    height: 190px;
}
.success span{
    background: url(./img/success.png);
}
.failure span{
    background: url(./img/failure.png);
}
.meaage{
    font-size: 26px;
    font-weight: 700;
}
.description{
    padding: 2rem;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
}
.button{
    display: grid;
    place-items: center;
    margin: auto -1rem -1rem;
    height: 50px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}