*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
h2{
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 28px;
}
.container{
    display: flex;
    flex-direction: column;
    padding: .5rem 1.5rem;
    text-align: center;
    width: 375px;
    background-color: #fff;
}
.info div{
    line-height: 1.4;
    margin-top:5px ;
}
.date{
    padding: 4px 10px;
    border-radius: 12px;
    background-color: rgba(41, 46, 50,.1);
    color: #858997;
    display: inline-block;
    margin: 12px auto 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}
.content{
    width: 244px;
    margin: 20px auto;
    border-radius: 22px;
    box-shadow: 0 4px 20px rgba(141, 148, 170,0.23);
}
.title{
    color: #24282B;
    font-size: 20px;
    font-weight: 500;
}
.country{
    font-size: 12px;
    font-weight: 500;
}
.link{
    font-size: 12px;
    color: #858997;
}
.engage{
    display: flex;
    justify-content: space-between;
    margin: 20px 12px 16px;
}
.item{
    display: flex;
}
.item img{
    width: 1rem;
}
.item p{
    margin: auto 5px;
    font-size: 12px;
    color: #858997;
}
.share-icon{
    width: 244px;
    margin: 20px auto;
    padding: 16px 18px;
    display: flex;
    justify-content: space-between;
    border-radius: 22px;
    box-shadow: 0 4px 20px rgba(141, 148, 170,0.23);
}
.share-icon div{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.share-icon .facebook{
    background-color: #EEEEFF;
}
.share-icon .instagram{
    background-color: #FFD8DF;
}
.share-icon .pinterest{
    background-color: #FFEEEE;
}
.share-icon img{
    height: 1.75rem;
}
.collection-icon img{
    width: 2.25rem;
}