:root{
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
.container{
    margin: 0 auto;
    padding-left:1rem;
    padding-right:1rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background-color: #fff;
}
.logo{
    padding: 1rem 0;
}
.navigation{
    display: flex;
    list-style: none;
}
.list-item{
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 2rem;
    display: block;
    padding: 1rem 0;
    letter-spacing: 0.4px;
    color: var(--dark-grayish-violet);
    font-weight: 700;
}
.list-item:hover,
.list-item:focus,
.list-item:active{
    color: var(--dark-violet);
}
.plan {
    display: inline-block;
    border: 2px solid var(--dark-violet);
    padding: 1rem 2rem;
    color: var(--dark-violet);
}
.plan:hover,
.plan:focus,
.plan:active{
    color: var(--very-light-gray);
    background-color: var(--dark-violet);
}
.not-for-desktop{
    display: none;
}

@media screen and (max-width:768px){
    /* Hamburger Menu for Mobile View */
    .not-for-desktop{
        display: block;
    }
    .navigation,
    .active{
        display: none;
    }
    .ham-menu{
        display: flex;
        align-items: center;
    }
    .checkbox{
        position: absolute;
        width: 32px;
        height: 32px;
        opacity: 0;
    }
    .checkbox:checked ~ .default{
        display: none;
    }
    .checkbox:checked  ~ .active{
        display: block;
    }
    .checkbox:checked ~ .navigation{
        background: url(./img/bg-pattern-mobile-nav.svg) bottom center no-repeat,var(--very-dark-violet);
        background-size: contain;
        position: absolute;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 86px;
        left: 0;
        width: 100%;
        height: 86vh;
        z-index: 100;
        padding-top: 2rem;
    }
    .navigation .list-item{
        color: #fff;
        margin-left: 0;
        font-size: 1.5rem;
    }
    .navigation .plan{
        border:2px solid #fff;
        width: 70vw;
        text-align: center;
        margin-top: 1rem;
    }
    .plan:hover,
    .plan:focus,
    .plan:active{
        color: var(--very-dark-violet);
        background-color: #fff;
    }
}

/* Banner Section */
.banner{
    background: var(--dark-violet);
    max-height: 584px;
    margin-bottom: 15rem;
}
.banner >div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-column-gap: 2rem;
    padding: 5rem 1rem;
    color: #fff;
}
.dang{
    grid-row: 1/4;
}
.banner .image{
    background: url(./img/image-intro-desktop.jpg) no-repeat;
    background-size: contain;
    grid-row:1/6;
}
.banner .image img{
    height: 100%;
    width: 100%;
    opacity: 0;
}
.dang hr{
    width: 160px;
}
.dang .heading{
    font-family: 'DM Serif Display', serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    max-width: 460px;
    margin: 3rem 0 1.5rem;
}
.dang .description{
    letter-spacing: .4px;
    line-height: 1.5rem;
}
.dang .button {
    display: inline-block;
    text-decoration: none;
    border: 2px solid #fff;
    margin: 2rem 0;
    color: #fff;
    font-weight: 700;
    padding: .5rem 1.5rem;
    letter-spacing: 0.4px;
    position: relative;
    z-index: 1000;
}
.dang .button:hover,
.dang .button:focus,
.dang .button:active{
    background: #fff;
    color: var(--dark-violet);
}

@media screen and (max-width:992px){
    .banner{
        max-height: 100%;
    }
    .banner >div {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
    }
    .banner .image{
        height: 828px;
    }
    .dang hr{
        display: none;
    }

}
@media screen and (max-width:768px){
    .banner{
        margin-bottom: 5rem;
    }
    .banner >div{
        text-align: center;
    }
    .banner .image{
        background: none;
        height: 100%;
    }
    .banner .image img{
        opacity: 1;
    }
}
@media screen and (max-width:576px){
    .banner .image{
        margin-left:  -1rem;
        margin-right:  -1rem;
    }
}

/* We are Different Section */
.who hr{
    width: 160px;
}
.feature-list{
    display: flex;
}
.feature{
    margin:2rem 1rem;
    color: var(--dark-grayish-violet);
    letter-spacing: .4px;
    line-height: 1.5rem;
}
.who .heading,
.feature .title{
    font-family: 'DM Serif Display', serif;
    color: var(--very-dark-violet);
    font-weight: 400;
}
.who .heading{
    font-size: 4rem;
    margin: 2rem 0;
}
.feature .title{
    font-size: 1.5rem;
    margin: 1rem 0;
}

@media screen and (max-width:768px){
    .who{
        text-align: center;
    }
    .who hr{
        margin: auto;
    }
    .feature-list{
        flex-direction: column;
        align-items: center;
    }
    .who .heading {
        font-size: 3rem;
    }
}

/* How We work section */
.how{
    background: url(./img/bg-pattern-how-we-work-desktop.svg) top right no-repeat, var(--dark-violet);
    background-size: contain;
    display: flex;
    justify-content: space-between;
    padding:5rem;
    margin:5rem 0 10rem;
    color: #fff;
}
.how .heading{
    font-family: 'DM Serif Display', serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;
    max-width: 560px;
}
.how .button {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid #fff;
    margin: auto 0;
    color: #fff;
    font-weight: 700;
    padding: .5rem 1.5rem;
    letter-spacing: 0.4px;
}
.how .button:hover,
.how .button:focus,
.how .button:active{
    background: #fff;
    color: var(--dark-violet);
}

@media screen and (max-width:992px){
    .how{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .how .button{
        margin: 4rem 0 0;
    }
}
@media screen and (max-width:768px){
    .how{
        background: url(./img/bg-pattern-how-we-work-mobile.svg) top right no-repeat, var(--dark-violet);
        padding: 5rem 1rem;
    }
    .how .heading{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

/* Footer Section*/
footer{
    background:url(./img/bg-pattern-footer-desktop.svg) top left no-repeat, var(--very-light-gray);
    padding-top:3rem;
    padding-bottom:5rem;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--dark-grayish-violet);
}
.social .icon{
    text-decoration: none;
    opacity: 0.6;
}
.social .icon:hover,
.social .icon:focus,
.social .icon:active{
    opacity: 1;
}
.social img {
    margin-left: .5rem;
    display: inline-block;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
}
.sitemap-header,
.sitemap-link{
    display: block;
    text-decoration: none;
    margin-top: 0.5rem;
    font-weight: 700;
    color: var(--dark-violet);
}
.sitemap-header{
    cursor: default;
    margin: 3rem 0 2rem;
    color: var(--dark-grayish-violet);
}
.sitemap-link:hover,
.sitemap-link:focus,
.sitemap-link:active{
    text-decoration: underline;
}

@media screen and (max-width:768px){
    footer{
        background:url(./img/bg-pattern-footer-mobile.svg) top left no-repeat, var(--very-light-gray);
        font-size: 1.25rem;
    }
    .footer-top{
        flex-direction: column;
        padding-bottom: 3rem;
    }
    .footer-bottom{
        flex-direction: column;
        text-align: center;
    }
}

/* Container Media Queries */
@media screen and (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}
@media screen and (min-width:992px) and (max-width:1199px){
    .container{
        max-width: 960px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .container{
        max-width: 720px;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    .container{
        max-width: 540px;
    }
}
@media screen and (max-width:576px){
    .container{
        max-width: 100%;
    }
}