*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(150deg, #fff ,#FCE8F4);
}
.background{
    background-image: url("illustration.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}
.container{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    padding: 1.5rem;
    text-align: center;
    max-width: 390px;
}
.image{
    margin: 2rem 0;
    width: 100%;
}
.title{
    font-family: 'Mitr', sans-serif;
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: .55px;
}
.description{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #535353;
    letter-spacing: .33px;
    margin: 1rem 2.5rem;
}
.form{
    margin: 1.25rem 2.5rem;
}
.email{
    width: 100%;
    height: 1.75;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #808397;
    margin-bottom: 2rem;
    padding: 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.email::placeholder{
    font-family: 'Open Sans', sans-serif;
    color: #808397;
}
.email:focus{
    border-bottom: 2px solid #F72F7A;
}
.button{
    width: 100%;
    background-color: #F72F7A;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    padding: 0.8125rem;
    outline: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.button:focus{
    box-shadow: 0 0 0 2px #fff,
                0 0 0 5px #F72F7A;
}