*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    margin: 1rem;
    padding: 3rem;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 35px -10px #B4B4B4;
}
@media (max-width:669px){
    .container{
        width: 100vw;
        box-shadow: none;
    }
}
@media (min-width:1368px){
    .container{
        width: 1100px;
    }
}

.brand-logo img{
    width: 2.5rem;
}
.brand-name{
    font-family: 'Cabin', sans-serif;
}

.error-code{
    font-size: 15rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-shadow: 0px 0px 15px #B4B4B4;
    opacity: .3;
}
.error-description h2 , .error-description p, button{
    font-family: 'Cabin', sans-serif;
    line-height: 1.5;    
}
.error-description h2{
    font-size: 2rem;
    font-weight: 700;
}
.error-description p{
    font-weight: 400;
}
.button{
    color: #f4f4f5;
    background-color: #226dfd;
    display: inline-block;
    margin-top: 3rem;
    padding: 10px 35px;
    outline: none;
    border: 0;
    text-decoration: none;
    box-shadow: 0px 0px 10px #B4B4B4;
}