*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Enriqueta', serif;
}
body{
    display: flex;
    justify-content: center;
    background-color: #1F1C44;
    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 520px;
    min-width: 500px;
    margin:10px auto ;
    border-radius: 10px;
    padding: 60px 90px;
    background-color:#fff;
}
.social{
    display: flex;
    align-items: center;
    margin: 2.5rem auto;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: #5B86E6;
    box-shadow: 0 10px 15px -5px rgba(91, 134, 230, .5);
}
.social .icon{
    width: 2.5rem;
    height: 2.5rem;
    padding: .4rem;
    border-radius:5px ;
    background-color: #fff;
}
.icon img{
    width: 1.6rem;
    height: 1.6rem;
}
.social .text{
    margin-left: 40px;
    color: #fff;
    font-weight: 500;
}
.form{
    width: 100%;
}
.form div{
    margin-top: 25px;
}
.form-head{
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 10px 0;
}
.form-head::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    border-top: 2px solid #949495;
}
.form-head span{
    font-size: .7rem;
    color: #949495;
    font-weight: 500;
    background-color: #fff;
    position: relative;
    padding: 0 10px;
    z-index: 2;
    letter-spacing: 1.1px;
    line-height: 3;
}
.form label{
    font-weight: 500;
}
input{
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #D9DCED;
    padding: 20px;
    margin-top: 5px;
    font-size: 1rem;
}
.button{
    box-shadow: 0 10px 15px -5px rgba(230, 91, 124, .5);
}
.button input{
    font-size: 1.1rem;
    background-color: #e65b7c;
    color: #fff;
    font-weight: 500;
}
.login{
    font-size: .9rem;
    margin-top: 2rem;
    font-weight: 500;
}
.login a{
    color: #5B86E6;
    text-decoration: none;
}